.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;

  }
  .title {
    color: grey;
    font-size: 18px;
  }
  
  p {
    text-decoration: none;
    font-size: 20px;
    color: black;
  }

  label {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  img{
    border-radius: 50%;
    size: 50in;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .inLine{
    display: inline;
  }
  h2{
    text-align: center;
  }